.header{
    position: absolute;
    height: 8vh;
    width: 100%;
    background-color: rgb(245, 245, 245);
    z-index: 2;
    font-size: 1vw;
 }
 .header > button{  
    width: 10%;
 }
.header > * {
    position: relative; 
    height: 90%;
    top: 5%;
    bottom: 5%;
    font-size: 1vw;
}
.header > p{
    position: absolute;
    left: 5%;
    top: 0%;
    font-size: 260%;
}
input{
    background-color:#ffffff;
	display:inline-block;
	cursor:pointer;
	color:#919191;
	font-family:Arial;
	font-size:13px;
	padding:0px 24px;
    text-decoration:none;
    border: none; 
    width: 50%;  
}
button{
    background-color:#ffffff;
	display:inline-block;
	cursor:pointer;
	color:#919191;
	font-family:Arial;
	font-size:13px;
	padding:0px 24px;
    text-decoration:none;
    border: none;
}
button:hover{
    background-color:#dffce8;
}

.siteInfo {
    position: relative;
    top: -300px;
    z-index: 1;
    width: 100%;
    height: 300px;
    background-color: #ebebeb;

    transition-property: top;
    transition-duration: 0.5s;
}
.siteInfo > img {
    position: relative;
    left: 10vw;
    top: 50px;
    width: 200px;
    max-height: 200px;
    vertical-align:middle;
}
.siteInfo > p {
    position: absolute;
    font-size: 100%;
}
.siteInfo > button{
    position: absolute;
    width: 200px;
    height: 50px;
}

.Post{
    position: relative;
    margin-top:10px;
    padding: 10px 10px;
}

.feed {
    position: absolute;
    top: 100px;
    width: 60%;
    height: 400px;
    left: 5%;
}

.Post > a > img {
    position: relative;
    left: 5%;
    width: 70px;
    height: 100px;
}
.Post > p {
    position: absolute;
}
.Post > .small{
    font-size: 70%;
}
.Post > button{
    position: absolute;
    background-color: #dddddd;

    transition: opacity .25s ease-in-out;
    transition-duration: 0.9;
    opacity: 0;
}
button.red:hover{
    background-color:#fcdfdf;
}#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

.Post:hover{
    background-color:#f1f1f1;
}

.subs{

    position:  absolute;
    left: 70%;
    width: 30%;
    height: 100px;
    top: 106px;

}
.SubName {
    height: 50px;
}
.subButton {
    position: absolute;
    padding:0px 30px 0px 0px;

    transition: opacity .25s ease-in-out;
    transition-duration: 0.9;
    opacity: 0;

}

.f{border: solid; border-color: black;}