.headBar {

    position: relative;

    width: 100vw;
    height: 20vh;

    overflow: hidden;
}

.headBar > img {

    width: 100%;
    height: 300%;

}

.headBar > h3 {
    
    position: absolute;

    left: 3%;
    top: 20%;

}

.headBar > h4 {
    
    position: absolute;

    right: 8%;
    top: 20%;

}

.seperator { 

    position: absolute;

    width: 100%;
    height: 20%;
    bottom: 0;
    background-color: rgb(40, 80, 78);

}

.feed {

    position: absolute;
    
    top: 25vh;
    left: 5%;

    width: 60%;
    height: 40vh;

}

.sideBar {

    position: absolute;

    border-radius: 2px;
    border-style: solid;
    border-color: white;
    background: white;

    top: 25vh;
    right: 5%;

    width: 25%;
    height: 40vh;


}

.show {

    border: solid;
    border-color: black;
}

body {
    background: rgb(231, 231, 231);
}